/* styles.css */
.triangle-container {
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease; /* smooth movement */
}
.triangle-row {
    display: flex;
    margin-bottom: -98px; /* adjust as needed */
}
.content-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  max-height: 80vh; /* prevent overflow */
  overflow-y: auto; /* enable scroll */
  background: #4107ee1a;
  border: 1px solid rgba(200, 200, 255, 0.3);
  border-radius: 20px;
  padding: 20px;
  backdrop-filter: blur(10px);
}
.content-scroll-wrapper {
    position: absolute;
    top: 50%;        /* vertical center */
    left: 50%;       /* horizontal center */
    transform: translate(-50%, -50%); /* Centerered on Screen */
    height: 100vh;    /* Full Height */
    width: 46%;      /* half of screen width */ /*My Note: I can just make this 100% for full screen*/
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 20px; 
}


.content-container.show {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

.content-inner h2 {
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    color: white;
    margin-bottom: 5px;
}

.form-group input, select {
    width: 100%;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid rgba(200, 200, 255, 0.3);
    background: transparent;
    color: white;
}

.form-group input{
    width: 95%;
}

select option{
    color:black;
}

button {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background: linear-gradient(90deg, #8e2de2, #4a00e0);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s;
}

button:hover {
    transform: scale(1.05);
}
